.menu{
    position: relative;
    background-color: #e9183b;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0,0,0,.6);
}
.logo{
    color: #fff;
    font-size: 30px;
    padding: 0 80px;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
}
.logo:hover{
    color: #414141;

}
@media screen and (max-width: 952px){
    .logo {
        font-size: 25px;
        padding-left: 35px;
    }
    
}

@media screen and (max-width: 858px){
    .menu{
        height: 65px;
    }
    
    .logo{
        font-size: 20px;
        padding-left: 10px;
    }
}